<nav class="navbar navbar-expand-lg  bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="btn btn-dark" routerLink="cadastrar-curso">𝓒𝓪𝓭𝓪𝓼𝓽𝓻𝓪𝓻 𝓒𝓾𝓻𝓼𝓸</a>
        <a class="btn btn-dark" style="margin-left: 15px" routerLink="consultar-curso">𝓒𝓸𝓷𝓼𝓾𝓵𝓽𝓪𝓻 𝓒𝓾𝓻𝓼𝓸</a>
      </ul>
      <h1 style="margin-right: 750px;">𝔉𝔞𝔷𝔢𝔫𝔡𝔬 𝔣𝔲𝔱𝔲𝔯𝔬 𝔪𝔢𝔩𝔥𝔬𝔯</h1>
    </div>
  </div>
</nav>

<!--Local para exibir o conteúdo das páginas-->

<div class="container mt-3">
  <div class="">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<hr>

<body>
  <footer>
    <h1 style="text-align: center;">𝕻𝖗𝖔𝖏𝖊𝖙𝖔 𝕮𝖆𝖘𝖙 𝕲𝖗𝖔𝖚𝖕</h1>
  </footer>
</body>